__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.venv/
venv/

data/raw/*
data/processed/*
models/checkpoints/*
!data/raw/FEMTO/
!data/raw/FEMTO/.gitkeep
!data/raw/IMS/
!data/raw/IMS/.gitkeep
!data/processed/
!data/processed/.gitkeep

*.pyc
*.pyo
*.pyd
*.egg-info/
